:root {
  --color-primary: rgba(21, 57, 117, 1);
  --color-secondary: #c2ae90;
  --color-secondary-hover: #c9a166;
  --color-secondary-bg: rgba(150, 120, 76, 0.56);
  --color-invert: #08080D;
  --color-neutral: #ffffff;
  --color-background: rgba(21, 57, 117, 0.85);
}