@forward 'colors';
@forward 'typography';
@forward 'boilerplate';
@forward 'font';
@forward "swiper";

.container {
  position: relative;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {

}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform .3s;

  &--primary {
    background-color: var(--color-secondary);

    &:hover {
      background-color: var(--color-secondary-hover);
    }
  }

  &--outlined {
    border: 1px solid var(--color-secondary);

    &:hover {
      background-color: var(--color-neutral);
      color: var(--color-primary);
    }
  }

  &:hover {
    transform: scale(1.1);
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 1000;
  background-color: var(--color-primary);

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-image {
    max-width: 150px;
    width: 150px;
    min-width: 150px;
    height: auto;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 2em;

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &__menu-nav {

  }

  &__menu-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
  }

  &__menu-item {

  }

  &__menu-link {
    color: var(--color-neutral);
  }

  &__button {
    width: 190px;
    height: 40px;
  }

  &__burger {
    &-button {
      all: unset;
      width: 28px;
      height: 22px;
      display: flex;
      cursor: pointer;
      flex-direction: column;
      justify-content: space-between;

      span {
        background-color: var(--color-neutral);
        height: 3px;
        border-radius: 50px;
        width: 100%;
      }

      @media (min-width: 1201px) {
        display: none;
      }
    }
  }
}

.main {
  width: 100%;
}

.hero {
  background-color: var(--color-background);
  height: 640px;
  display: flex;
  align-items: center;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 60%;

    @media screen and (max-width: 768px) {
      max-width: 100%;
    }
  }

  &__title {
    line-height: var(--line-height-l);
    font-size: var(--font-size-xxl);
    font-weight: var(--font-weight-bold);
    text-align: left;

    @media screen and (max-width: 768px) {
      text-align: center;
      line-height: var(--line-height-m);
      font-size: var(--font-size-xl);
    }
  }

  &__subtitle {
    line-height: var(--line-height-m);
    font-size: var(--font-size-xl);
    font-weight: var(--font-weight-regular);

    @media screen and (max-width: 768px) {
      text-align: center;
      line-height: var(--line-height-m);
      font-size: var(--font-size-l);
    }
  }

  &__controls {
    display: flex;
    gap: 2em;

    @media screen and (max-width: 768px) {
      max-width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1em;
    }
  }

  &__button {
    height: 55px;
    width: 240px;
  }
}

.promo {
  padding-bottom: 10em;

  @media screen and (max-width: 768px) {
    padding-bottom: 3em;
  }

  &__container {
    display: flex;
    flex-direction: column;
    gap: 5em;

    @media screen and (max-width: 768px) {
      margin-top: 2em;
    }
  }

  &__items {
    top: -50px;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3em;

    @media screen and (max-width: 768px) {
      top: 0;
      flex-direction: column;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    gap: 1em;

    &-image {
      width: 100%;
      height: auto;
    }

    &-title {
      color: var(--color-primary);
      text-transform: uppercase;
      font-size: var(--font-size-l);
      line-height: var(--line-height-m);
    }

    &-text {
      color: var(--color-invert);
    }
  }

  &__progress {
    &-list {
      display: flex;
      flex: 1 1 0;
      gap: 1em;
      justify-content: center;

      @media screen and (max-width: 768px) {
        flex-wrap: wrap;
        row-gap: 5rem;
      }
    }

    &-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1em;
      width: 100%;
      height: auto;

      @media screen and (max-width: 768px) {
        width: auto;
      }
    }

    &-image {
      z-index: 0;
      position: absolute;
      width: 100%;
      height: auto;
    }

    &-title {
      z-index: 1;
      color: var(--color-primary);
      font-size: var(--font-size-xl);
      line-height: var(--line-height-m);
      text-align: center;
      width: 80%;

      @media screen and (max-width: 768px) {
        font-size: var(--font-size-l);
        line-height: var(--line-height-s);
      }
    }

    &-text {
      z-index: 1;
      color: var(--color-invert);
      text-align: center;
      width: 50%;

      @media screen and (max-width: 768px) {
        font-size: var(--font-size-s);
        line-height: var(--line-height-s);
      }
    }
  }
}

.advantages {
  padding-top: 4em;
  padding-bottom: 4em;
  background-color: var(--color-secondary);
  position: relative;
  overflow: hidden;
  z-index: 100;

  @media screen and (max-width: 768px) {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  &__title {
    &-container {
      display: flex;
      gap: 1rem;
      align-items: center;

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }

    &-number {
      font-size: 8rem;
      font-weight: var(--font-weight-bold);

      @media screen and (max-width: 768px) {
        font-size: 5rem;
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      line-height: 1;
    }

    &-text {
      font-size: var(--font-size-xxl);
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        font-size: var(--font-size-xl);
      }
    }
  }

  &__list {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 430px;

    @media screen and (max-width: 768px) {
      margin-top: 2rem;
    }

    &-item {
      display: flex;
      align-items: center;
      cursor: pointer;

      position: relative;
    }

    &-count {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      background-color: var(--color-primary);
      width: 60px;
      height: 60px;

      span {
        font-size: var(--font-size-xl);
      }
    }

    &-text {
      position: relative;
      background-color: var(--color-secondary-bg);
      display: flex;
      left: -3rem;
      flex-direction: column;
      justify-content: center;
      flex-grow: 1;
      height: 60px;
      border-radius: 100px;
      padding-left: 5rem;

      &::before {
        position: absolute;
        z-index: 0;
        display: block;
        content: "";
        height: 65px;
        width: 65px;
        border-radius: 100%;
        left: 0;
        background-color: var(--color-secondary);
      }

      span {
        font-size: var(--font-size-xl);
      }
    }

    &-arrow {
      position: absolute;
      right: 4rem;
      width: 40px;
    }
  }

  &__popup {
    opacity: 0;
    visibility: hidden;
    font-size: var(--font-size-s);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    top: 20%;
    left: 35%;
    border-radius: 1rem;
    color: var(--color-invert);
    padding: 20px;
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    z-index: 9999;

    &-show {
      opacity: 1;
      visibility: visible;
    }

    &-title {
      font-size: var(--font-size-xl);
      color: var(--color-primary);
    }

    &-header {
      display: flex;
      gap: 1rem;
    }

    &-images {
      display: flex;
      flex-direction: column;
      flex: 1rem;
    }

    &-image {
      width: 200px;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    right: -200px;
    z-index: -1;
  }
}

.portfolio {
  padding-top: 5em;
  padding-bottom: 4em;
  position: relative;
  height: 100%;

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &-line {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 0.3rem;
      background-color: var(--color-secondary-bg);
    }

    &-container {
      position: relative;
      background-color: var(--color-neutral);
      padding: 0 2rem;
      z-index: 2;
    }

    &-title {
      font-size: var(--font-size-xl);
      color: var(--color-primary);
      text-transform: uppercase;
    }
  }
}

.contacts {
  background-color: var(--color-background);
  padding-top: 5em;
  padding-bottom: 4em;

  @media screen and (max-width: 768px) {
    padding-top: 3em;
    padding-bottom: 2em;
  }

  &__title {
    font-size: var(--font-size-xxl);
    line-height: var(--line-height-l);

    @media screen and (max-width: 768px) {
      font-size: var(--font-size-xl);
    }
  }

  &__inner {
    display: flex;
    gap: 3rem;
    margin-top: 2rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    @media screen and (max-width: 768px) {
      gap: 1rem;
    }

    &-title {

    }

    &-link {
      color: var(--color-neutral);
      font-size: var(--font-size-xl);
      line-height: var(--line-height-l);

      @media screen and (max-width: 768px) {
        font-size: var(--font-size-l);
      }
    }
  }
}

.form {
  background-color: var(--color-background);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;

  &__title {
    font-size: var(--font-size-l);
  }

  &__input {
    color: var(--color-invert);
    outline: none;
    min-width: 300px;
    padding: 1rem;
  }

  &__button {
    padding: 1rem;
    text-transform: uppercase;
    font-weight: var(--font-weight-bold);
  }
}

.catalog {
  padding-top: 4em;

  &__title {
    font-size: var(--font-size-xl);
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
  }

  &__list {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 260px;

    &-img {
      height: 190px;
    }

    &-title {
      color: var(--color-primary);
    }

    &-text {
      color: var(--color-invert);
    }

    &-button {
      background-color: var(--color-primary);
      max-width: 110px;
      padding: 0.5rem;
      border-radius: 0.5rem;
    }
  }
}

