@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

.swiper {
  margin-top: 4rem;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev {
  cursor: pointer;
  background-color: var(--color-secondary);
  border-radius: 100%;
  width: 60px;
  height: 60px;

  &::after {
    color: var(--color-neutral);
  }

  @media screen and (max-width: 768px) {
    display: none;
  }
}